{%extends 'base.html'%}

{%block styles%}
<style>
    .del{
        color: red;
    }
    th, tr, td, table{
        border:2px solid black;
    }
    th, tr, td{
        padding:2px;
    }
</style>
{%endblock%}

{%block main%}
    
    <div class="container">
        <div class="col-8">
            
            <div class="row">
                
                <div class="col">
                    <h5 class="mt-3" id="soil">Содержание</h5>
                    <ol>
                        <li>
                            <a href="#soil">Справка щелочности</a>
                        </li>
                        <li>
                            <a href="#transfer">Пересадка</a>
                        </li>
                    </ol>
                    
                    <h5 class="mt-3" id="soil">Справка щелочности</h5>
                    <table style="width: 100%;">
                        <tr>
                        <th >pH</th>
                        <th>Реакция почвы</th>
                        </tr>
                        <tr>
                        <td>5</td>
                        <td>Сильнокислая</td>
                        </tr>
                        <tr>
                        <td>5.5</td>
                        <td>Кислая</td>
                        </tr>
                        <tr>
                        <td>6</td>
                        <td>Слабокислая</td>
                        </tr>
                        <tr>
                        <td>6.5</td>
                        <td>Нейтральная</td>
                        </tr>
                        <tr>
                        <td>7</td>
                        <td>Слабая щелочность</td>
                        </tr>
                        <tr>
                        <td>8-8.5</td>
                        <td>Умеренная щелочность</td>
                        </tr>
                        <tr>
                        <td>9+</td>
                            <td>Сильная щелочность</td> 
                        </tr>
                    </table>

                    <h5 class="mt-3" id='transfer'>Пересадка</h5>
                    <ol>
                        <li>Пересадка необходима, если горшок стал мал для растения. Если корни растения плотно оплели земной ком, а зелени так много, что земли в горшке уже и не видно – вашему цветку нужен «домик» побольше и покомфортнее.</li>
                        <li>Землю в горшке нужно обязательно менять раз в несколько лет.</li>
                        <li>Лучшее время для пересадки – весна, именно в это время растения «просыпаются» после зимы и возобновляют свой рост. Им будет легче адаптироваться после пересадки, корни быстрее займут свежий субстрат.</li>
                        <li>Размер нового горшка должен быть не намного больше прежнего. Если вставить один во второй – у краев должно оставаться около 1-1,5 см свободного пространства.</li>
                        <li>Для разных видов растений предпочтительна своя форма горшка.</li>
                        <li>Новый горшок после покупки лучше оставить на ночь в воде перед пересадкой.</li>
                    </ol>
                    <p>Перед тем как пересадить цветок в новый горшок, его нужно напитать водой. Сделать это можно по-разному. Например, хорошо полить растение:</p>
                    <ol>
                        <li>вынуть сухой земляной ком из старого горшка;</li>
                        <li>с помощью неострой палочки, аккуратно, стараясь не повредить корни, освободить их от лишней земли;</li>
                        <li>следует опустить растение в емкость с водой так, чтобы она покрывала его корни.</li>
                    </ol>
                </div>
                <div class="col for_computer"></div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col-6">
                    <b><a class="mt-3" href="/main">На главную ↵</a></b>
                </div>
            </div>
            
        </div>
        <div class="col"></div>
    </div>
{%endblock%}